/*==========FONTS==========*/
@font-face {
    font-family: 'pathway-gothic-one';
    src: url(/fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url(/fonts/proxima_nova_reg/proxima_nova_reg.ttf);
}

@font-face {
    font-family: 'marvel';
    src: url(/fonts/marvel/Marvel-Regular.ttf);
}

@font-face {
    font-family: 'avengeance-heroic';
    src: url(/fonts/avengeance-heroic-avenger/AVENGEANCE\ HEROIC\ AVENGER.ttf);
}

/*==========GLOBAL STYLES==========*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body,
h1,
h2 {
    margin: 0;
}

/*==========HEADER==========*/
header {    
    width: 100%;
    height: 85vh;
    padding: 6.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(
                    to left, 
                    rgb(0, 0, 0, 4), 
                  rgb(0,0,0,0.5), 
                    transparent 25%),
                linear-gradient(
                    to right, 
                    rgb(0, 0, 0, 4), 
                    rgb(0,0,0,0.5), 
                    transparent 25%),
                linear-gradient(
                    to top, 
                    rgb(0, 0, 0, 1.2), 
                    rgb(0,0,0,0.2), 
                    transparent 40%),
                linear-gradient(
                    to bottom, 
                    rgb(0, 0, 0, 4), 
                    rgb(0,0,0,0.5), 
                    transparent 30%),
                url(/images/mcu-bg-v7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #D3AF37;
}

.title-container {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.01rem;
    color: #fff;
}

h1 { 
    padding: 1.2rem 1rem 0rem;
    justify-content: center;
    text-align: center;
    font-size: calc(5rem + 5vw);
    font-family: marvel;
    letter-spacing: -0.5rem;
    text-shadow: 2px 2px 4px #000;
    box-shadow: 2px 2px 4px #000;
    background: rgb(240, 19, 30, 0.77);
}

.title-right-container {
    padding-top: 4%;
    text-align: center;
    font-size: calc(1.8rem + 2vw);
    font-family: marvel;
    letter-spacing: -0.2rem;
    text-shadow: 2px 2px 4px #000;
    box-shadow: 2px 2px 4px #000;
    background: rgb(0, 0, 0, 0.77);
}

.sort-btn-container {
    position: relative;
    z-index: 5;
    width: 95%;
    height: 15rem;
    margin: 3rem 0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sort-btn {
    margin: 0.2rem auto;
    width: 95%;
    height: 10rem;
    padding: 0.3rem;
    line-height: 1.7;
    font-family: avengeance-heroic;
    font-size: 1rem;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000;
    box-shadow: 2px 2px 4px #000;
    outline: none;
    color: #fff;
    background: #1779cf;
}

/*==========TIMELINE SECTION==========*/
.timeline-container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: #031625;
    border: 5px solid #664EAE;
}

.tl-item {
    flex: 1 1 auto;
    position: relative;
    width: 20%;
    transition: width 0.5s ease;
}

.tl-bg {
    position: absolute;
    width: 100%; height: 100%;
    background-size: cover;
    background-position: center;
}

.movie-title {
    position: absolute;
    text-align: center;
    top: 55%;
}

.movie-info {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 0;
    transform: translateX(-50%) translateY(-50%);
    font-family: pathway-gothic-one;
    font-size: 3rem;
    text-shadow: 4px 4px 8px #000;
    color: #fff;
    border-top: 0.5rem solid #1779cf;
    border-bottom: 0.5rem solid #1779cf;
}

/*==========NAVIGATION==========*/
.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 0.5em;
    margin-top: 35rem;
    color: #fff;
    font-weight: bolder;
    font-size: 2.5rem;
    border-radius: 0 3px;
    cursor: pointer;
    user-select: none;
    background: transparent;
}

#next-btn {
    right: 0;
    border-radius: 3px 0;
}

/*==========FOOTER==========*/
footer {
    margin: 0;
    width: 100%;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(
                    to bottom,
                    rgb(0, 0, 0, 0.95),
                    rgb(0, 0, 0, 0.75),
                    rgb(0, 0, 0, 0.5), 
                    transparent 80%), 
                    url(/images/footer-bg-v10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    background-size: 100%;
    color: #fff;
    border: 5px solid maroon;
}

#footer-name {
    margin-bottom: -0.1rem;
    padding: 0;
    font-size: 2.2rem;
    font-family: avengeance-heroic;
    letter-spacing: 0.1rem;
    text-shadow: 4px 4px 8px #666;
    color: #fff;
    /* border: 5px solid magenta; */
}

#social-header {
    margin-top: 7.7rem;
    font-size: 1.8rem;
    font-family: proxima-nova;
    text-shadow: 1px 1px 2px #666;
    text-align: center;
    color: #1779cf;
    /* border: 5px solid gold; */
}

ul {
    margin-top: -1.2rem;
    padding-right: 2.5rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
}

ul li {
    margin: 0 0.5rem;
    display: inline;
    font-size: 2rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

.fa-linkedin-in {
    text-shadow: 1px 1px 2px #0976B4;
}

.fa-github {
    text-shadow: 1px 1px 2px #862792;
}

.fa-instagram {
    text-shadow: 1px 1px 2px #f46f30;
}

.fa-discord {
    text-shadow: 1px 1px 2px #7289da;
}

.fa-twitter {
    text-shadow: 1px 1px 2px #1da1f2;
}

#copyright {
    width: 100%;
    margin-bottom: 1.5rem;
    font-family: proxima-nova;
    color: #666;
    /* border: 5px solid yellow; */
}

/*==========MEDIA QUERIES==========*/
@media (min-width: 39em) {
    .title-container {
        flex-direction: row;
    }

    h1 {
        padding: 1.8rem 1.5rem 0;
    }

    .title-right-container {
        padding: 2rem 2rem;
    }

    .sort-btn-container {
        width: 55%;
        margin: 5rem 1rem 3rem;
        flex-direction: row;
    }

    .sort-btn {
        width: 30%;
        height: 3rem;
        font-size: 1.3rem;
    }

    footer {
        background-size: 105%;
    }

    #footer-name {
        margin-bottom: 0;
        font-size: 3rem;
    }

    .social {
        margin-top: -2rem;
    }
    
    .social-header {
        margin-top: 7.9rem;
    }
}

@media (min-width: 45em) {
    h1 {
        padding: 2.5rem 1.5rem 0;
        letter-spacing: 0.2rem;
    }

    .title-right-container {
        align-items: center;
        padding: 2.55rem 1.5rem 1rem;
        font-size: 2.8rem;
        letter-spacing: 0.1rem;
    }

    footer {
        background-size: 110%;
    }

    .social {
        margin-top: -1.1rem;
    }
}

@media (min-width: 50em) {
    .social {
        margin-top: 0.5rem;
    }
}

@media (hover: hover) {
    .sort-btn {
        border-radius: 5px;
    }

    .sort-btn:hover, 
    .sort-btn:focus-visible, 
    .sort-btn:active {
        background: url(/images/button-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .tl-item:hover {
        width: 33%;
    }

    .arrow-btn:hover, .arrow-btn:focus-visible {
        background: rgb(23, 121, 207, 0.5);
    }

    #prev-btn:hover, 
    #next-btn:hover {
        background-color: #1779cf;
        color: #fff;
        cursor: pointer;
    }

    .fa-linkedin-in:hover {
        text-shadow: 1px 1px 2px #fff;
        color: #0a66c2;
    }

    .fa-github:hover {
        text-shadow: 1px 1px 2px #fff;
        color: #862792;
    }

    .fa-instagram:hover {
        text-shadow: 1px 1px 2px #fff;
        color: #f46f30;
    }

    .fa-discord:hover {
        text-shadow: 1px 1px 2px #fff;
        color: #7289da;
    }

    .fa-twitter:hover {
        text-shadow: 1px 1px 2px #fff;
        color: #1da1f2;
    }
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
    /* .overlay {
        height: 85vh;
        margin: -2.5rem 0 0;
    } */
    
    .sort-btn-container {
        margin-top: 5.5rem;
    }

    .sort-btn {
        font-size: 1.5rem;
        height: 3rem;
        border-radius: 1.5rem;
    }

    .timeline-container {
        overflow-x: scroll;
    }

    .tl-item {
        flex: none;
        width: 100%;
    }

    #social-header {
        color: #fff;
    }

    .fa-linkedin-in {
        color: #0976B4;
        text-shadow: 1px 1px 2px #0976B4;
    }

    .fa-github {
        color: #862792;
        text-shadow: 1px 1px 2px #862792;
    }

    .fa-instagram {
        color: #f46f30;
        text-shadow: 1px 1px 2px #f46f30;
    }

    .fa-discord {
        color: #7289da;
        text-shadow: 1px 1px 2px #7289da;
    }

    .fa-twitter {
        color: #1da1f2;
        text-shadow: 1px 1px 2px #1da1f2;
    }  
}
