/*==========FONTS==========*/
@font-face {
    font-family: 'pathway-gothic-one';
    src: url(fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url(fonts/proxima_nova_reg/proxima_nova_reg.ttf);
}

@font-face {
    font-family: 'marvel';
    src: url(fonts/marvel/Marvel-Regular.ttf);
}

@font-face {
    font-family: 'avengeance-heroic';
    src: url(fonts/avengeance-heroic-avenger/AVENGEANCE\ HEROIC\ AVENGER.ttf);
}

/*==========BODY SECTION==========*/
body {
    margin: 0;
    width: 100%;
    height: 85%;
    background: #D3AF37;
}

#body-container {
    margin-top: 0.5%;
    background-color: #664EAE;
}

/*==========TOP SECTION==========*/
.header-container {
    background: linear-gradient(to left, rgb(0, 0, 0, 4), rgb(0,0,0,0.5), transparent 10%),
                linear-gradient(to right, rgb(0, 0, 0, 4), rgb(0,0,0,0.5), transparent 10%),
                linear-gradient(to top, rgb(0, 0, 0, 1.2), rgb(0,0,0,0.2), transparent 60%),
                linear-gradient(to bottom, rgb(0, 0, 0, 4), rgb(0,0,0,0.5), transparent 35%), 
                url(/images/mcu-bg-gray.jpg);    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.4em;
    padding-bottom: 3em;
}

#flex-container {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    /* border: 0.3em solid yellow; */
}

.title-container {
    display: flex;
    width: 40%;
    height: 10em;
    padding: 0;
    margin: 4.5em 0 2em 0;
    flex-direction: row;
    box-shadow: 0 8px 6px -6px black;
    /* border: 0.3em solid blueviolet; */
}

#left-item {
    width: 55%;
    text-align: center;
    padding: 0.05em 0.2em 0 0.2em;
    background-color: rgb(240, 19, 30, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: marvel;
    font-size: 10em;
    /* border: 0.04em solid aquamarine; */
}

#right-item {
    display: flex;
    flex-direction: column;
    padding: 0.2em 0.2em 0 0;
    width: 45%;
    text-align: center;
    font-size: 3em;
    /* font-family: avengeance-heroic; */
    font-family: marvel;
    background-color: rgb(0, 0, 0, 0.8);
    /* border: 0.2em solid green; */
}

#top-right-top, #top-right-middle {
    margin-bottom: -0.1em;
}

#top-right-top::after, #top-right-middle::after, #top-right-bottom::after {
    visibility: hidden;
    margin: 0;
}

.flex-buttons {
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
    text-align: center;
    justify-content: space-between;
    /* border: 0.3em solid coral; */
}

.sort-btn {
    width: 32%;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: avengeance-heroic;
    text-decoration: none;
    z-index: 1;
    color: #fff;
    font-size: 1.5em;
    padding-top: 0.4em;
    background: #1779cf;
    border-radius: 0.2em;
    outline: none;
}

.sort-btn:hover, .sort-btn:focus-visible, .sort-btn:active
{
    z-index: 0;
    background: url(/images/button-bg.jpg);
    background-size: cover;
    cursor: pointer;
    opacity: 0.75;    
}

/* .sort-btn:hover, .sort-btn:focus-visible, .sort-btn:active 
{
    
} */

/*==========TIMELINE==========*/
.timeline-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    background-color: #031625;
    /* border: 0.4em solid darkcyan; */
}

.tl-item {
    flex: 1 1 none;
    position: relative;
    width: 20%;
    overflow: hidden;
    transition: width 0.5s ease;
}

/* .tl-item::before {
    content: attr(data-order);
    position: absolute;
} */

.tl-item:hover {
    width: 35%;
}

.tl-bg {
    position: absolute;
    width: 100%; height: 100%;
    background-size: cover;
    background-position: center;
}

.movie-title {
    position: absolute;
    text-align: center;
    top: 55%;
}

.movie-info {
    font-family: pathway-gothic-one;
    font-size: 2em;
    line-height: 0;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-top: 0.15em solid #1779cf;
    border-bottom: 0.15em solid #1779cf;
}

/*==========NAVIGATION==========*/
.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 0.5em;
    margin-top: 8.8em;
    color: #fff;
    font-weight: bolder;
    font-size: 2.3em;
    border-radius: 0 3px;
    /* border: 0.20em solid #FF99FF; */
    cursor: pointer;
    user-select: none;
    background: transparent;
}

.arrow-btn:hover, .arrow-btn:focus-visible {
    background: rgb(23, 121, 207, 0.5);
}

#next-btn {
    right: 0;
    border-radius: 3px 0;
}

#prev-btn:hover, #next-btn:hover {
    background-color: #1779cf;
    color: #fff;
    cursor: pointer;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border-bottom: 0.15em solid fuchsia;
}

/*==========FOOTER==========*/
footer {
    width: 100%;
    height: 25vh;
    left: 0;
    bottom: 0;
    text-align: center;
    vertical-align: bottom ;
    padding: 7em 0 1em 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;           
    /* background: #031625; */
    background: #000;
}

#name {
    color: #fff;
    font-weight: 600;
    font-size: large;
    letter-spacing: 0.2em;
}

#copyright {
    font-size: small;
    font-style: normal;
    color: #8E9599;
}